/* 
                      ,--.                    
 ,---.,--. ,--.,---.,-'  '-. ,---. ,--,--,--. 
(  .-' \  '  /(  .-''-.  .-'| .-. :|        | 
.-'  `) \   ' .-'  `) |  |  \   --.|  |  |  | 
`----'.-'  /  `----'  `--'   `----'`--`--`--' 
      `---'                                   
 */

td, div, body {
  /*color: rgb(51, 51, 51);*/
  font-size: 13px;  
  line-height:20px;    
}

body{
	border: 2px solid #000;
	max-width: 1075px;
  	margin-left:auto;
  	margin-right:auto;
}

h1{
	font-size: 20px; 
}
h2{
	font-size: 16px; 
}
hr{
	border-color: #949494 !important;
}
.u {
	text-decoration:underline;
}

select, input[type='text']{
	min-width: 200px;
	width: 70%;
}

/*links*/
a:link {
	text-decoration:underline;
	color: inherit;
}
a:visited {
	color: inherit;
}
a.servicesMenulink{
	font-size: 16px;
	text-decoration:none;
	padding: 5px;
}
a.activeServicesMenu{
	border: 1px solid #959595;
	border-radius: 5px;	
}
a.loginMenulink{
	text-decoration:none;
	font-weight:bold;
	padding: 8px;
}
div.btnlink:link, a.menulink:link{
	text-decoration:none;
}
div.btnlink:hover, a.menulink:hover{
	color: #999;
}
div.btnlink, a.menulink{
	font-size: 11px;
}
a.menulink:hover, a.servicesMenulink:hover, a.loginMenulink:hover{
	text-decoration:underline;	
}


.invalidFild{
	border: 1px solid red;
}
.validFild{
	border: 1px solid green;
}
.invalidTip{
	color: red;
}
.validTip{
	color:  green;
}
.invalidTip, .validTip{
	font-weight:bold;
	display: none;
}



.grayBg{
	background-color: #F2F2F2;
}
.gray{
	color: #CCC;
}
.roundedCorners{
	border-radius:5px;
}


.fit{
  margin: 0px;
  padding: 0px;
}
.topFit{
  margin-top: 0px;
  padding-top: 0px;
}
.fitIcon{
  margin-top: 12px;
}
.floatingRight{
	float: right;
}


.invertColor{
	color: #CCC;
	background-color: #000;
}
.invertColor .bright{
	color: #FFF;
}
.invertColor .pale{
	color: #999;
}
button.invertColor:hover, a.invertColor{
	color: #FFF;
}




.price{
	font-size: 16px; 
	font-weight:bold;
}
.totalPrice{
	font-size: 22px; 
	font-weight:bold;
}



/* 
  ,--.                    ,--.                   
,-'  '-. ,---.  ,---.     |  |-.  ,--,--.,--.--. 
'-.  .-'| .-. || .-. |    | .-. '' ,-.  ||  .--' 
  |  |  ' '-' '| '-' '    | `-' |\ '-'  ||  |    
  `--'   `---' |  |-'      `---'  `--`--'`--'    
               `--'                              
 */
div#cartLinkSpot{
	min-height:28px;
}
div.topBar{
	min-height:36px;
	padding-right: 24px;
	padding-top: 7px;
}
div.topBar div{
	float: right;	
}
div.topBar div.topBarSplitter{	
	margin-right:24;
	margin-left:24;
	width: 1px;
	height: 20px;
	background-color: #DDD;
}
div.topBar div.brak{	
	width: 50px;
}

div.pinToBrowser{
	margin-top:-38px; 
	margin-left: -2px;
	position: fixed;
	width: 100%;
	max-width: 1075px;
	z-index:1;
}
body.pinToBrowser{
	margin-top:36px; 
}

/* 
,--.                       ,--.               
|  ,---.  ,---.  ,--,--. ,-|  | ,---. ,--.--. 
|  .-.  || .-. :' ,-.  |' .-. || .-. :|  .--' 
|  | |  |\   --.\ '-'  |\ `-' |\   --.|  |    
`--' `--' `----' `--`--' `---'  `----'`--'    
                                              
 */
div.header div.logoAndMenu{
	min-height: 110px;	
}
div.header div.menuBar{
	min-height: 55px;
	padding-top: 18px;
}
div.header div.logo{
	padding-top: 22px;
	padding-left: 45px;
}
div.header .loginButtons{
	float: right;	
}
div.pageTitle{
	border-top: 1px solid #959595;
	min-height: 62px;
	padding-left: 16px;	
}

/* 
                       ,--.                   ,--.   
 ,---. ,---. ,--,--, ,-'  '-. ,---. ,--,--, ,-'  '-. 
| .--'| .-. ||      \'-.  .-'| .-. :|      \'-.  .-' 
\ `--.' '-' '|  ||  |  |  |  \   --.|  ||  |  |  |   
 `---' `---' `--''--'  `--'   `----'`--''--'  `--'   
 */
div.mainContent{
	border-right: 1px solid #949494;
}

/* info */
div.infoSpot{
	padding: 25px;
}
div.infoSpot img{
	display: block;
	float: left;
	vertical-align: middle;
	padding-right: 25px;
}

/*license*/
div.mainContent table{
	width: 100%;
}
div.mainContent tr{
	border-top:  1px solid #949494;
}
div.mainContent tr.bottomBorder{
	border-bottom:  1px solid #949494;
}
div.mainContent td{
	height: 53px;
}
div.mainContent td.colSplitter{	
	background-image: url("../img/license-col-splitter.gif");	
	background-repeat:no-repeat;
	padding-left:15px;
}
div.mainContent td.checkbox{
	padding-left:35px;	
}	
div.mainContent .licenseTotal{
	padding: 18px;
	font-size: 16px; 
	font-weight:bold;
}

/*Right Bar*/
div.contactItem{
	margin: 3px;
	padding: 7px;
}
div.social{
	float: left;
	width: 74px;
	color: #666;	
	border: 1px solid #D6D6D6;
	margin-left: 5px;
	background: linear-gradient(to bottom,  #FAFAFA 0%,#D6D6D6 100%);

}
div.social a:link {
	text-decoration:none;
}



/* 
   ,--.                ,--.                     
 ,-|  | ,---.,--.  ,--.`--' ,---. ,---.  ,---.  
' .-. || .-. :\  `'  / ,--.| .--'| .-. :(  .-'  
\ `-' |\   --. \    /  |  |\ `--.\   --..-'  `) 
 `---'  `----'  `--'   `--' `---' `----'`----'  
 */
@media (max-width: 480px) { 

	div.topBar{
		min-height:56px;
	}
	.hidden-xxs{
		display: none;
	}
	.visible-xxs{
		display: inline ;
	}	
	select, input[type='text']{
		min-width: 120px;
	}
}

@media (min-width: 481px){
	.visible-xxs{
		display: none ;
	}	
}

@media (min-width: 992px) and (max-width: 1150px) {  
	div.social{
		width: 67px;
	}
}
/*workarount of issues https://github.com/twbs/bootstrap/issues/9862?source=cc*/
.row {
  margin-left: 0px;
  margin-right: 0px;
}