<head>	
    <title>DirectAdmin control panel</title>    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/app.css"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-effects.min.js"></script>    
	<script type="text/javascript" src="js/jquery.tmpl.min.js"></script>        
    <script type="text/javascript" src="js/bootstrap.min.js"></script>    
    <script type="text/javascript" src="js/app.js"></script>
    <script id="licenseItemTmpl" type="text/x-jquery-tmpl">
		<div id="licensePanel${localId}">
			<h1>DirectAdmin License #${localId}</h1>	
			<table>
				<tr>
					<td>
						IP Assress 
						<span class="fa-stack IPToolTip" data-original-title="For unknown reasons, you should know IP of server that you wanna buy, good luck">
						  <i class="fa fa-question-circle fa-stack-1x gray"></i>
						</span>
					</td>
					<td class="colSplitter">
						<input id="IPAssressInput${localId}" class="IPAssressInput" type="text"> <span class="invalidTip" id="invalidIP${localId}">Invalid IP address</span>
					</td>
					<td></td>
				</tr>	
				<tr>
					<td>
						Operating System
					</td>
					<td class="colSplitter">
						<select id="OSSelector${localId}" class="OSSelector">
							<option value="">Choose ...</option>
							<option value="freebsd-10-0">FreeBSD 10.0</option>
							<option value="freebsd-9-0">FreeBSD 9.0</option>
							<option value="freebsd-8-0">FreeBSD 8.0</option>
							<option value="ubuntu-13-10">Ubuntu 13.10</option>
							<option value="ubuntu-13-04">Ubuntu 13.04</option>
							<option value="ubuntu-12-10">Ubuntu 12.10</option>
							<option value="ubuntu-12-04">Ubuntu 12.04.3</option>
							<option value="ubuntu-10-04">Ubuntu 10.04</option>
							<option value="centos-6-5">CentOS 6.5</option>
							<option value="centos-6-4">CentOS 6.4</option>
							<option value="centos-5-8">CentOS 5.8</option>
							<option value="debian-7-0">Debian 7.0</option>
							<option value="debian-6-0">Debian 6.0</option>
							<option value="arch-linux-2">Arch Linux 2013.05</option>
							<option value="fedora-19">Fedora 19</option>
							<option value="fedora-17">Fedora 17</option>
						</select>
					</td>
					<td></td>
				</tr>	
				<tr>
					<td>
						Bits
					</td>
					<td class="colSplitter">
						<select id="archSelector${localId}" class="archSelector" disabled>
							<option value="32">32 Bits</option>
							<option value="64" selected>64 Bits</option>
						</select>
					</td>
					<td></td>
				</tr>	
				<tr>
					<td>
						Period
					</td>
					<td class="colSplitter">
						<select id="periodSelector${localId}" class="periodSelector">
							<option value="1" price="10" selected>1 month</option>
							<option value="3" price="28.5">3 month (5% off)</option>
							<option value="6" price="54">6 month (10% off)</option>
							<option value="12" price="96">12 month (20% off)</option>
						</select>
					</td>
					<td class="colSplitter price">
						$<span id="rentFare${localId}">10</span>
					</td>			
				</tr>	
				<tr class="bottomBorder">
					<td>
						Installation
					</td>
					<td class="checkbox colSplitter" >
					    <label>
					      <input id="installationBySpecialist${localId}" class="installationBySpecialist" type="checkbox" price="10"> Installation by TI specialist
					    </label>
					</td>				
					<td class="colSplitter price">
						$<span id="installationFare${localId}">0</span>
					</td>
				</tr>	
			</table>	
			<br/>
			<div class="roundedCorners grayBg licenseTotal text-right">
				License # Total &nbsp;&nbsp;&nbsp;<span class="totalPrice">$<span id="fare${localId}">10</span> &nbsp;&nbsp;&nbsp;<button id="addToCart${localId}" class="btn btn-sm invertColor addToCart" disabled >ADD TO CART</button></span>
			</div>		
			<br/><br/><br/>
		</div>
    </script>
</head>
<body>
	<div class="pageContainer">
	<div class="topBar invertColor">		
			<div id="cartLinkSpot" data-original-title="Go to cart and checkout">Your Shopping Cart: <a href="#"><span id="valieInCart" class="bright u"></span></a> <a href="#"><span class="pale u">(<span id="itemsInCart"></span> items)</span></a></div>
			<div class="topBarSplitter hidden-xxs"></div>
			<div class="visible-xxs brak">&nbsp;</div>			
			<div>Call Us: 8-800-922-656-323</div>
			
	</div>
	<div class="header">
		<div class="row logoAndMenu">
		    <div class="col-md-3 logo"><img src="img/logo-regular.png"/></div>
		    <div class="col-md-9">
		        <div class="row">
		            <div class=" col-md-12 menuBar">
						<a href="#" class="menulink">ABOUT US</a> &nbsp;&nbsp;
						<a href="#" class="menulink">NEWS</a> &nbsp;&nbsp;
						<a href="#" class="menulink">BLOG</a> &nbsp;&nbsp;
						<a href="#" class="menulink">HELP</a> &nbsp;&nbsp;
						<a href="#" class="menulink">SUPPORT</a> &nbsp;&nbsp;
						<a href="#" class="menulink">CONTACTS</a> &nbsp;&nbsp;
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-md-9 menuBar">
						<a href="#" class="servicesMenulink">Dedicated Servers</a> &nbsp;
						<a href="#" class="servicesMenulink">VPS</a> &nbsp;
						<a href="#" class="servicesMenulink">SSL Certificates</a> &nbsp;
						<a href="#" class="servicesMenulink activeServicesMenu">Control Panels</a> &nbsp;
		            </div>
		            <div class="col-md-3 menuBar text-right">
		            	<a href="#" class="loginMenulink">LOGIN</a>
		            	<a href="#" class="loginMenulink invertColor roundedCorners">REGISTER</a>
		            </div>
		        </div>
		    </div>
		</div>			
		<div class="grayBg pageTitle">
			<h1>DirectAdmin control panel</h1>
		</div>		
	</div>

	<br/>
	</div>
	<div class="row">
		<div class="col-md-9 mainContent">
			<div class="roundedCorners grayBg infoSpot">
				<img src="img/wcp-logo.png"/>
					<h1 class="topFit">What makes DirectAdmin different ?</h1>
					Succeeding in the web hosting business requires flexibility. It also means being competitive.</br></br>
					We offer the choice of monthly, quarterly, annual, and one-time licenses in order to suit every hosting company.</br></br>
					<a href="#">Learn more about DirectAdmin in our Knowledge Base</a>
			</div>
			<br/>
			<div id="licensesList"></div>	
			<div>	
				<div class="btnlink" id="addNewLicense"><span class="fa-stack"><i class="fa fa-plus-circle fa-2x"></i></span> ADD ANOTHER LICENSE<br/><br/></div>
			</div>
			<div class="visible-xs visible-sm"><br/><hr/><br/></div>
		</div>



		<div  class="col-md-3">	
			<h1 class="topFit">Top Articles in our Knowledge Base</h1>
				How to install b2evolution Blog <a href="#">Read more</a><br/><br/>
				How to install Coppermine Photo Gallery <a href="#">Read more</a><br/><br/>
				How to generate SSH key and connect to your account with PuTTY (Windows) <a href="#">Read more</a><br/><br/>
				How to install TikiWiki CMS Groupware <a href="#">Read more</a><br/><br/>
				How to deploy a Rails 3 application with Phusion Passenger <a href="#">Read more</a><br/>
			<hr/>
			<h1>Last Articles in our Blog</h1>
				How To Setup Your Own PHP PEAR Environment <a href="#">Read more</a><br/><br/>
				How to Enable register_globals in your PHP.ini File <a href="#">Read more</a><br/><br/>
				How to Change your DNS Nameservers <a href="#">Read more</a><br/>
			<hr/>				
				<div class="roundedCorners social"><a href="http://twitter.com/"><span class="fa-stack"><i class="fa fa-twitter-square fa-stack-2x"></i></span> Tweet</a></div>	
				<div class="roundedCorners social"><a href="http://linkedin.com/"><span class="fa-stack"><i class="fa fa-linkedin-square fa-stack-2x"></i></span> Share</a></div>	
				<div class="roundedCorners social"><a href="http://facebook.com/"><span class="fa-stack"><i class="fa fa-facebook-square fa-stack-2x"></i></span> Like</a></div>	
				<br/>
			<hr/>
			<h2>Need More Info ?</h2>			
			<div class="roundedCorners grayBg contactItem" ><span>Live Chat</span> <span class="floatingRight"><b>24/7 chat</b></span></div>
			<div class="roundedCorners grayBg contactItem" ><span>Toll Free</span> <span class="floatingRight"><b>1-716-745-4678</b></span></div>
			<div class="roundedCorners grayBg contactItem" ><span>Send Us a Message</span> <span class="floatingRight"><b>email</b></span></div>
			<div class="roundedCorners grayBg contactItem" ><span>Call with Skype</span> <span class="floatingRight"><b>Help</b></span></div>
		</div>
	</div>
	<br/>

</body>
</html>